# Build
build/
dist/
*.egg-info/

# FFmpeg
ffmpeg/
ffmpeg-static/
ffmpeg_full_build/

# Compiled
*.o
*.obj
*.a
*.lib
*.dll
*.exe
*.so
*.dylib

# IDE
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.pyc
.venv/
